body{
  background-color: rgba(168, 168, 255, 0.674);
}

.test{
  color:darkblue
}

div{ 
  color: darkblue;
  text-align: center;
  height: 500px;
}



h1,h3{
  font-size: 40px;
  color: navy
  
}

p{
  font-family: initial;
  font-size: 20px;
  color: darkblue;
}
ol{
  font-size: 20px;
  text-align: justify;
  
}
 img{
  display: block;
  padding-top: 30px;
  height: 250px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
 }
 body{
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
 }

 ol{
  display: table;
  margin: auto;
 }

 ul{
    font-size: 20px;
    text-align: justify;
 }
